.main {
	padding: 0 1.25rem;
	max-width: 1360px;
	min-height: 100vh;
	margin: 0 auto;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr;
	row-gap: 50px;
	place-items: start;
}

.slides {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px 30px;
}

.desktopFavorites {
	display: none;
}

@media (min-width: 40em) {
	.slides {
		grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
	}
}

@media (min-width: 64em) {
	.gridContainer {
		grid-template-columns: 1fr 265px;
		grid-template-rows: 60px 1fr;
		column-gap: 60px;
		row-gap: 40px;
		place-items: start;
	}

	.slides {
		grid-row: 2;
		grid-column: 1;
		row-gap: 60px;
		column-gap: 20px;
	}

	.desktopFavorites {
		display: block;
		grid-row: 1;
		grid-column: 2;
	}
}

