.headerContainer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

@media (min-width: 64em) {
	.headerContainer {
		padding: 20px 60px;
	}

	.logo {
		max-width: 106px;
	}
}